<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootswatch.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script>

    <script type="text/javascript" src="javascripts/views/homeView.js"></script>

    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/models.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
